{
    "openapi": "3.1.0",
    "info": {
        "title": "Chonkie API",
        "description": "🦛 Chonkie running on the Internet! 🌎 Get chunks via POST HTTP calls~",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.chonkie.ai",
            "description": "Chonkie Cloud API"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/v1/auth/validate": {
            "post": {
                "summary": "Validate API Key",
                "description": "Validates the provided API key. Use this endpoint to check if your API key is valid and active.",
                "operationId": "validate_auth_v1_auth_validate_post",
                "responses": {
                    "200": {
                        "description": "API key is valid and active",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Token is valid!"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    }
                                },
                                "example": {
                                    "message": "Token is valid!",
                                    "status": 200
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/chunk/token": {
            "$ref": "./spec/paths/token.json"
        },
        "/v1/chunk/sentence": {
            "$ref": "./spec/paths/sentence.json"
        },
        "/v1/chunk/recursive": {
            "$ref": "./spec/paths/recursive.json"
        },
        "/v1/chunk/semantic": {
            "$ref": "./spec/paths/semantic.json"
        },
        "/v1/chunk/sdpm": {
            "$ref": "./spec/paths/sdpm.json"
        },
        "/v1/chunk/late": {
            "$ref": "./spec/paths/late.json"
        },
        "/v1/chunk/code": {
            "$ref": "./spec/paths/code.json"
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Your API Key from the [Chonkie Cloud dashboard](https://cloud.chonkie.ai/keys)"
            }
        },
        "schemas": {
            // "$ref": "./spec/schemas.json#/schemas"
        }
    }
}